<table id="course-results" class="table table-striped">
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= link_to course.name, course %></td>
        <td><%= course.code %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<!-- Paginates the multiple rows of the search -->
<%= will_paginate @courses, class: "center paginate-bar" %>
