<% provide(:title, "About") %>

<div>
  <h1 class="center">About</h1>
  <p class="center">We at BranPlan aim to make academic planning towards degree and univeristy
    requirements easy for the Brandeis undergradutate community. Once prior
    coursework and credit status has been added, students are given an array of tools including:</p><br>
  <ul>
    <li>Current semester course creation with Google Calendar sync.</li>
    <li>Dynamic credits and university requirements tracker.</li>
    <li>Degree progress with graph visualization.</li>
    <li>Brandeis course catalog database.</li>
    <li>Course suggestions based on course and viewing history.</li>
    <li>Note repositories for all currently offered courses.</li>
    <li>Rating system for courses and notes.</li>
  </ul>
</div>
