<% provide(:title, "Contact") %>

<div>
  <h1 class="center">Contact Us</h1>
  <p class="center">We take pride in making our service consistently reliable to use. If you
    notice any issues with our platform or if you have any suggestions,
    please feel free to reach out to us by submitting a comment
    <%= link_to "here", '#' %>.</p>
</div>