
<% content_for :head do %>

<% provide(:title, 'Home') %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="text/html; charset=iso-8859-2" http-equiv="Content-Type">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<% end %>

<div id="jumbo" class="center jumbotron">
  <div class="center" style="width:100%;">
    <div id="welcome">
      <h1>Welcome to BranPlan!</h1>
      <%= link_to "Log In", '#', class: "btn btn-lg btn-info" %>
    </div>
    <%= image_tag("airview.jpg", :class => "welcome_image") %>
  </div>
</div>
 

<script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("slideshow");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 10000);
}
</script>
 