<% provide(:title, 'Home') %>

  <!-- Welcome Image and Message -->

  <div style="position:relative;">
    <%= image_tag("airview.jpg", :class => "welcome_image") %>
    <div id="welcome">
      <h1>Welcome to BranPlan</h1>
      <p>An academic progress tracking app for Brandeis University undergraduates</p>
    </div>
  </div>

  <%= render 'static_pages/home/home_about' %>

  <%= render 'static_pages/home/home_features' %>

  <%= render 'static_pages/home/home_quotes' %>
