<% provide(:title, 'Home') %>

<%= image_tag("airview.jpg", :class => "welcome_image") %>
<div class="container">
  <div id="welcome">
    <h1>Welcome to BranPlan</h1>
    <p>Academic tracking app for Brandeis University undergraduates</p>
    <%= link_to "Log In", login_path, class: "btn btn-lg btn-info" %>
  </div>
  <hr>
  <h1 class="center">Why use BranPlan?</h1>
<div>
