<div class="container">
  <h1 class="center">Search</h1>
  <br>
  <div class="row">
    <div class="search-filters col-4">
      <div id="filters" class="jumbotron">
        <h3>Filters</h3>

      </div>
    </div>
    <div class="search-results col-8">
      <div  b m id="results" class="jumbotron">
        <h3>Results</h3>
      </div>
    </div>
  </div>
</div>
