<div>
  <% if @course_history.length == 0 %>
    <p style="margin-left: 10px;">You currently have no course history. Please search courses you've taken below by code.</p><br>
  <% else %>
  <div id="course-history-jumbo" class="jumbotron">
    <table id="course-history" class="table table-striped">
      <tbody>
        <% @course_history.each do |code| %>
          <tr>
            <td><%= code %></td>
            <td><%= link_to '<button class="enroll-button btn btn-danger">Remove</button>'.html_safe, remove_course_path(:course_code => code), :method => :put, remote: true %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @course_history, class: "center paginate-bar padbar" %>
  </div>
  <% end %>
</div>
