<div>
  <% if @course_history.length == 0 %>
    <p style="margin-left: 10px;">You currently have no course history. Please search courses you've taken below by code.</p><br>
  <% else %>
    <table class="table">
      <thead id="thead">
        <tr>
          <th style="padding-right: 50px;">Code</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @course_history.each do |code| %>
          <tr>
            <td><%= code %></td>
            <td><%= link_to '<button class="enroll-button btn btn-danger">Remove</button>'.html_safe, remove_course_path(:course_code => code), :method => :put %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
