<% if !@course_codes.nil? %>
  <div id="histroy-results-jumbo" class="jumbotron">
      <table id="history-results" class="table table-striped">
        <tbody>
          <% @course_codes.each do |code| %>
            <tr>
              <td><%= code %></td>
              <td>
                <%= link_to('<button class="enroll-button btn btn-success">Add</button>'.html_safe, add_course_path(:course_code => code), :method => :put) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
<% end %>
