<div>
  <table class="table">
    <thead id="thead">
      <tr>
        <th style="padding-right: 10px;">Course</th>
        <th style="padding-right: 50px;">Code</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @courses_spring_2019.each do |course| %>
        <tr>
          <td><%= course.name %></td>
          <td><%= course.code %></td>
          <td><%= link_to '<button class="enroll-button btn btn-danger">Remove</button>'.html_safe, unenroll_path(:course_id => course.id, :term_id => 5), :method => :put, remote: true %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
