<div>
  <table class="table">
    <thead id="thead">
      <tr>
        <th style="padding-right: 10px;">Course</th>
        <th style="padding-right: 50px;">Code</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @courses_fall_2018.each do |course| %>
        <tr>
          <td><%= link_to course.name, course %></td>
          <!-- , {'data-toggle' => "modal", 'data-target' => "#courseInfoModal"} -->
          <td><%= course.code %></td>
          <td><button id="fall_unenroll" class="enroll-button btn btn-danger"  data-course_id = <%= course.id %> data-term_id = 4>Remove</button></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>



<script>
$('#fall_unenroll').on("click", function(){
    $.ajax({
      type:'POST',
      url: "/enrollments/unenroll",
      data: {'course_id' : this.dataset.course_id,'term_id' : this.dataset.term_id}
    });
      }).trigger('change');

      $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
      })
</script>
