<div class="container">
  <h1><%= current_user.name.split(" ")[0] %>'s Dashboard</h1>
  <br>
  <div class="row">
    <div class="jumbotron col-md-7 grow top">
      <h3>Schedule</h3>
    </div>
    <div class="jumbotron col-md-4 ml-auto grow top">
      <h3>Progress<h3>
    </div>
    <div class="jumbotron col-md-12 grow bottom">
      <h3>Degree 1<h3>
    </div>
  </div>
</div>
