@import "bootstrap-sprockets";
@import "bootstrap";
/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;
$cyan: #58aed1;
$gray-light: #f8f9fa;
$navy_blue: #06115d;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* universal */
body {
  padding-top: 90px;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}
/* typography */

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

.dropdown-menu {
  border-radius: 10px !important;
  margin-top: 10px !important;
}

.navbar-nav > li > a {
  padding: 8px !important;
}

.navbar-nav > li > a:hover {
  background-color: transparent!important;
}

.navbar-nav > a:hover,
a:focus,
a:link {
  background-color: transparent!important;
}

.nav-button {
  margin-left: 10px;
  font-size: 15px;
  font-weight: 600;
  border: solid 2.5px $navy_blue;
  border-radius: 15px;
  background-color: white;
}

#logo {
  width: 130px;
  height: 100%;
  float: left;
  margin-right: 10px;
  padding-top: 9px;
  padding-bottom: 9px;
}
/* home */
.welcome_image {
  margin-top: -40px;
  width: 100%;
  height: 470px;
  display: block;
}

#welcome {
  position: absolute;
  background-color: $navy_blue;
  border: 5px solid white;
  color: white;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;

  h1 {
    font-size: 50px;
  }
}

.column {
  float: left;
  width: 33.33%;
  padding: 8px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.feature-img {
  height: 200px;
  border-radius: 50%;
  margin-top: -20px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border: solid 4px $navy_blue;
}

.card-text {
  font-size: 15px!important;
}

.card-title {
  text-align: center;
  font-size: 20px;
  font-style: bold;
}

.card {
  border: solid 4px $navy_blue;
  border-radius: 30px;
}

.d-block {
  height: 190px;
}

.quote {
  font-size: 30px;
  font-style: italic;
  color: $navy_blue;
}

.quote-author {
  font-size: 20px;
  color: $navy_blue;
}

#about-us {
  background-color: $navy_blue;
  border-top: solid 3px white;
  h1 {
    font-size: 40px;
  }

  p {
    font-size: 20px;
  }

  h1,
  p {
    color: white;
  }
}

#our-goal {
  background-color: #467bad;
  border-top: solid 3px white;
  h1 {
    font-size: 40px;
  }

  p {
    font-size: 20px;
  }

  h1,
  p {
    color: white;
  }
}

#home-features {
  background-color: $cyan;
  border-top: solid 3px white;
  h1 {
    font-size: 40px;
  }

  p {
    font-size: 20px;
    color: $navy_blue;
  }

  h1 {
    color: white;
  }
}

#contact-us {
  h1 {
    font-size: 40px;
    color: $navy_blue;
  }
  h5 {
    font-size: 25px;
    color: white;
    margin-top: -15px;
  }
  p {
    font-size: 20px;
    color: $navy_blue;
  }
  #contact-jumbo {
    background-color: $gray-light;
  }
  #feedback-form {
    background-color: $cyan;
    #send-button {
      border: solid 2px white;
      border-radius: 9px;
      width: 100px !important;
      margin-bottom: -20px;
    }
  }
}

#carouselQuotes {
  border-top: solid 3px white;
  margin-bottom: -20px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#061459' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#061459' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.quote-block {
  width: 200px;
  p {
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
  }
}

/* Dashboard */

#req-info {
  position: sticky;
  height: 30px;
  width: 30px;
  margin-left: 3px;
  border-radius: 50%;
  font-size: 20px;
  padding-left: 8px !important;
  line-height: 10px;
  color: black;
  font-family: monospace;
  font-weight: bold;
  border: solid 1px black;
  background-color: white;
  -webkit-transform:scale(0.7);
  -moz-transform:scale(0.7);
  -ms-transform:scale(0.7);
  transform:scale(0.7);
}

#req-info:focus, #req-info:hover {
  outline: none;
  box-shadow: 0 0 1pt 2pt $cyan;
}

.circle {
  width: 37px;
  height: 37px;
  border: solid 2px black;
  border-radius: 50%;
  font-size: 11px;
  font-weight: bold;
  color: #000;
  line-height: 32px;
  text-align: center;
  background: #f6f7f9;
  margin-left:11px;
  margin-bottom: 5px;
}

#calendar {
  h2 {
    color: black;
  }
}

.dash-panels {
  background-color: $gray-light;
  margin-top: 20px;
  border-radius: 40px;
  height: 550px;
  h3 {
    font-size: 30px;
    margin-top: -5px;
    padding-bottom: 15px;
  }
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

.bar-type {
  font-size: 15px !important;
  color: black;
}

.cd-schedule .events .events-group > ul {
  position: relative;
  padding: 0 5%;
  /* force its children to stay on one line */
  display: flex;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.cd-schedule .events .single-event {
  /* force them to stay on one line */
  flex-shrink: 0;
  float: left;
  height: 150px;
  width: 70%;
  max-width: 300px;
}

.cd-schedule .event-modal {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  transform: translateX(100%);
  transition: transform .4s, visibility .4s;
}

.cd-schedule.modal-is-open .event-modal {
  /* .modal-is-open class is added as soon as an event is selected */
  transform: translateX(0);
  visibility: visible;
}

@media only screen and (min-width: 800px) {
  .cd-schedule .events {
    float: left;
    width: 100%;
  }
  .cd-schedule .events .events-group {
    width: 20%;
    float: left;
  }
  .cd-schedule .events .single-event {
    position: absolute;
    z-index: 3;
    /* top position and height will be set using js */
    width: calc(100% + 2px);
    left: -1px;
  }
}

/* Search */

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

  html,
  body{
    width:100%;
    overflow-x:hidden;
  }

}

.search-page {
  background-color: $navy_blue;
  margin-top: -20px;
  margin-bottom: -20px;
  padding-top: 25px;
  padding-bottom: 25px;
}

#filters {
  margin-left:20px;
  border-radius: 30px;
  border: solid 5px white;
  height: 100%;
}

#search_results {
  margin-right:20px;
  border-radius: 30px;
  margin-bottom: -40px;
  border: solid 5px white;
  height: 100%;
}

.search-inputs {
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 30px;
}

input:focus {
  outline: none;
  box-shadow: 0 0 1pt 2pt $cyan;
}

#pe-req-drop, #fl-req-drop {
  width: 70px;
}

#search-button {
  border: solid 2px white;
  border-radius: 9px;
}

#suggest-button {
  border: solid 2px white;
  width: 100px;
}

#course-results {
  margin-top: -25px;
  margin-bottom: -20px;
  td {
    padding-bottom: 5px;
    padding-right: 50px;
    font-size: 14px;
  }
}

.paginate-bar {
  margin-top: 20px;
}

.enroll-button {
  border: 2px solid white;
  border-radius: 10px;
  width: 80px;
  a {
    color: white;
    border: none;
  }
}

button:focus {
    outline: none !important;
}

.enroll-button:focus {
  outline: none;
  box-shadow: 0 0 1pt 2pt $cyan;
}

.breadcrumb {
  font-size: 18px;
}

#course-page {
  h1 {
    font-size: 30px;
    font-weight: bold;
    margin-left:15px;
  }
  h3 {
    margin-left:30px;
    font-size:25px;
    font-weight:bold;
    color:#4d4dff;
    line-height: 35px;
  }
  #section-info {
    font-size: 18px;
    font-weight: bold;
  }
}

.breadcrumb-item {
  color: #457ab2 !important;
}

#histroy-results-jumbo {
  border-radius: 20px;
  background-color: #f6f7f9;
}

#history-results {
  margin-top: -20px;
  margin-bottom: -20px;
}

#course-history-jumbo {
  margin-top: 15px;
  border-radius: 20px;
  background-color: #f6f7f9;
}

.calendar {
  h2 {
    color: black !important;
    font-size: 20px !important;
  }
  .fc-content {
    color: white !important;
  }
}

#new_event {
  select#event_start_1i {

  }
}

#course-history {
  margin-top: -20px;
  margin-bottom: -20px;
}

.padbar {
  margin-bottom: -40px;
}

.pagination {
  margin-left: -10px;
  margin-right: -10px;
}

.pagination>li>a {
  background-color: white !important;
  margin-left: -2px;
  margin-right: -2px;
}

.pagination>li.active>a {
  background-color: $navy_blue !important;
}

.multiselect {
  b.caret {
    display: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-darker;

  a {
    color: $gray;

    &:hover {
      color: $gray-darker;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}
/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }

  section {
    padding: 10px 0;
    margin-top: 20px;

    &:first-child {
      border: 0;
      padding-top: 0;
    }

    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }

    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

span.select2-selection--multiple {
  border-color: lightgray;
  border-radius: 15px !important;
}

.uneditable-input,
input,
select,
textarea {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30 -15px;
  }
}

.field_with_errors {
  @extend .has-error;

  .form-control {
    color: $state-danger-text;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
