<div id="carouselQuotes" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("quote-banner.jpg", :class => "d-block w-100", :alt => "First slide") %>
      <div class="carousel-caption d-none d-md-block">
        <h5 class="quote">"This app is dope."</h5>
        <p class="quote-author">- Joshua Alvarado</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("quote-banner.jpg", :class => "d-block w-100", :alt => "Second slide") %>
      <div class="carousel-caption d-none d-md-block">
        <h5 class="quote">"This app is cool."</h5>
        <p class="quote-author">- Simon Fekete</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("quote-banner.jpg", :class => "d-block w-100", :alt => "Third slide") %>
      <div class="carousel-caption d-none d-md-block">
        <h5 class="quote">"This app is great."</h5>
        <p class="quote-author">- Runjie Lu</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselQuotes" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselQuotes" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
