<div id="home-features">
  <div class="container">
    <br>
    <h1 class="center">Why use BranPlan?</h1>
    <br><br>
    <div class="card-deck">
  <div class="card">
    <%= image_tag("schedule-stock.jpg", :class => "card-img-top feature-img") %>
    <div class="card-body">
      <h5 class="card-title">Scheduling</h5>
      <p class="card-text">Create and customize your current semester schedule by selecting courses in our database. You can integrate your schedule directly into your Google Calendar.</p>
    </div>
  </div>
  <div class="card">
    <%= image_tag("search-stock.jpg", :class => "card-img-top feature-img") %>
    <div class="card-body">
      <h5 class="card-title">Search</h5>
      <p class="card-text">Browse courses in the Brandeis catalog with our optimized search engine. Discover new courses that you may have never been considered with our personalized suggestion algorithm.</p>
    </div>
  </div>
  <div class="card">
    <%= image_tag("progress-stock.png", :class => "card-img-top feature-img") %>
    <div class="card-body">
      <h5 class="card-title">Progress</h5>
      <p class="card-text">Keep track of your academic progress with visualized percentage bars for credit and degree status toward graduation.</p>
    </div>
  </div>
</div>
  </div>
  <br><br>
</div>

<script>
  ScrollReveal({duration: 2000})
  ScrollReveal().reveal('.column', {delay: 200});
</script>
