<div id="about-us">
  <div class="container">
    <br>
    <div class="row">
      <div class="col">
        <br>
        <h1 class="center">About Us</h1>
      </div>
      <div class="col">
        <p>We are a group of students at Brandeis University working on our term project for Capston Project for Software Engineering.</p>
      </div>
    </div>
    <br>
  </div>
</div>

<div id="our-goal">
  <div class="container">
    <br>
    <div class="row">
      <div class="col">
        <p>Utilizing Ruby on Rails, our goal is to create a platform that helps Brandeis students plan and keep track of their academic progress.</p>
      </div>
      <div class="col">
        <br>
        <h1 class="center">Our Goal</h1>
      </div>
    </div>
    <br>
  </div>
</div>
