<div id="contact-us">
  <div class="container">
    <br>
    <h1 class="center">Contact Us</h1>
    <br>
    <p>We try our best to provide a service that is reliable, efficient, and easy to use. If you have any issues with our services, or have any suggestions on how to make us a better platform, please submit your comments
      <%= link_to "here", '#'%>. We will try our best to assess your critique and continually improve our service.</p>
  </div>
</div>
