<div id="about-us">
  <div class="container">
    <br>
    <h1 class="center">About Us</h1>
    <br>
    <p>At BranPlan, we aim to provide members of the Brandeis undergraduate community an all in one platform for academic planning and progress tracking. Upon signup and profile completion, users will be able to monitor their progress and course
      registrations.</p>
  </div>
  <br><br>
</div>
