<div class="container">
  <footer class="footer footer-style">
    <nav>
      <div class="row">
        <p>© 2018 BranPlan. All rights reserved. (Not affiliated with Brandeis University)</p>
      </div>
    </nav>
    <br>
  </footer>
</div>
