<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <%= render 'layouts/header' %>
    <div>
      <%= yield %>
      <div id='remote_container'></div>
      <%= render 'layouts/footer' %>
    </div>
  </body>

</html>
